<div class="next-hr-container">
  <div class="next-hr-header">
    <div class="next-hr-title">Choose your next hour</div>
  </div>

  <div class="next-hr-body">
    <div class="topics">
      <div class="topics-title"> Choose your Topic </div>

      <div class="topic">
        <div class="topic-name"> Watch a Video </div>
        <div class="generate-topic-btn"> 
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
      </div>

      <div class="topic">
        <div class="topic-name"> Play a game </div>
          <div class="generate-topic-btn"> 
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
      </div>

      <div class="topic">
        <div class="topic-name"> Read Something </div>
          <div class="generate-topic-btn"> 
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
      </div>

      <div class="topic">
        <div class="topic-name"> Practice a problem </div>
          <div class="generate-topic-btn"> 
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
      </div>

      <div class="topic">
        <div class="topic-name"> Solve a puzzle </div>
          <div class="generate-topic-btn"> 
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
      </div>
    </div>
  </div>

  <div class="next-hr-footer">
    
  </div>
</div>